/* Color Variables */
:root {
    --main-darkblue: #000d33;
    --main-lightpink: #f7efee;
    --main-pink: #d0a8b3
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    
}

body {
    font-family: "Rubik", sans-serif;
    background-color: var(--main-lightpink);
}

/* COMMON STYLING */
.page-heading {
    color: var(--main-darkblue);
    padding: 40px 0 30px 0;
}
.container {
    padding: 40px 0 0 150px;
}


/* HEADER CONTAINER */

.header-container {
    display: flex;
    align-items: center;
    padding: 30px 50px 0 0px;
}

.logo {
    margin-right: auto;
    padding-left: 4%;
}
.logo-image {
    background-color: var(--main-lightpink);
    width: 60px;
    height: auto;
}

.resume {
    padding-left: 15px;
}
.resume-btn {
    color: var(--main-pink);
    border: 2px solid var(--main-pink);
    border-radius: 5px;
    padding: 10px;
}
.resume-btn:hover {
    background-color: var(--main-lightpink);
    opacity: 70%; 
}
.nav-list {
    display: flex;
}
.nav-link {
    padding: 25px;
    color: var(--main-darkblue);
    position: relative;
}
.nav-link:hover::after {
    content: "";
    position: absolute;
    left: 25%;
    right: 25%;
    bottom: 25%;
    border: 1px solid var(--main-pink);
}

/*
.navbar-toggle-bars {
    background-color: var(--main-darkblue);
    display: inline-block;
    position: relative;
    margin-bottom: 0.4rem;
    height: 3px;
    width: 35px;
}

.navbar-toggle-bars::before, .navbar-toggle-bars::after {
    background-color: var(--main-darkblue);
    content: "";
    display: inline-block;
    position: absolute;
    height: 3px;
    width: 25px;
}

.navbar-toggle-bars::before {
    top: 10px;
    
}
.navbar-toggle-bars::after {
    top: -10px;
}*/

/* HOME SECTION */

.home-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    height: 90vh;
}

.home-header {
    font-size: 40px;
    color: var(--main-darkblue);
}

.home-subheading {
    text-align: center;
    color: var(--main-pink);
}

/* ABOUT SECTION */

.about-container {
    height: 80vh;
    background-color: white;
    display: flex;
    flex-direction: row;
    /*padding: 40px 0 0 150px;*/
}

.about-info-container {
    display: flex;
    flex-direction: column;
    width: 50vw;
}
/*
.about-section-header {
    color: var(--main-darkblue);
    padding: 40px 0 30px 0;
    
}*/

.about-info-para {
    color: var(--main-darkblue);
    padding-bottom: 15px;
}

.about-image-container {
    padding: 70px 0 0 40px;
    position: relative;
    z-index: 1;
}

.about-image-container::before {
    content: "";
    position: absolute;
    top: 15%;
    right: 0;
    width: 90%;
    height: 50%;
    background-color: var(--main-lightpink);
    border-radius: 5px;
    transform: translate(25px, 10px);
    z-index: -1;
}

.about-image {
    width: 220px;
    height: auto;
    border-radius: 5px;
}

.skills-list {
    column-count: 2;
    column-gap: 0;
    width: 75%;
    
}

.skills-list > li::before {
    content: "\f105";
    font-family: "FontAwesome";
    color: var(--main-pink);
    padding-right: 10px;
}

.skills-item {
    padding-bottom: 5px;
}


/* PROJECTS SECTION */

.projects-container {
    background-color: var(--main-lightpink);
    /*height: 100vh;*/
    
    padding-bottom: 80px;
}

.projects {
    display: flex;
    /*flex-direction: row;
    justify-content: space-between;*/
    flex-wrap: wrap;
    justify-content: center;
    
    
    

}
.project {
    margin: 20px;
    /*display: flex;
    flex-direction: column;*/
    /*margin: 0 20px;*/
    
    /*position: relative;*/
    
}

.project-heading, .project-para {
    padding-bottom: 10px;
    color: var(--main-darkblue);
    
}

.project-info {
    background-color: #e6e6e6;
    /*border: 4px solid var(--main-pink);
    border-radius: 5px;*/
    padding: 20px 20px 10px 20px;
    width: 35vw;
    height: auto;
    /*position: absolute;
    left: 40%;
    top: 60%;*/
}

.tools-list {
    display: flex;
    flex-wrap: wrap;

}
.tools-item {
    color: var(--main-darkblue);
    border: 2px solid var(--main-darkblue);
    border-radius: 5px;
    padding: 5px 10px 5px 10px;
    margin: 5px 10px 5px 0px;
}

.project-image {
    /*display: flex;
    width: 70vh;
    max-width: 100%;
    height: auto;
    height: 30vh;*/
    /*float: left;*/
    width: 35vw;
    height: 30vh;
    object-fit: cover;
}

.project-links-list {
    display: flex;
    justify-content: flex-end;
    margin-right: 5px;
}

.project-links-item {
    margin: 5px;
}
.project-link {
    color: var(--main-darkblue);
    font-size: 24px;
}


/* CONTACT SECTION */ 
.contact-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    height: 60vh;
}

.contact-para {
    color: var(--main-darkblue);
    width: 50vw;
    text-align: center;
}

.contact-details {
    border: 2px solid var(--main-darkblue);
    border-radius: 5px;
    padding: 10px 20px 10px 20px;
    margin-top: 40px;
    color: var(--main-darkblue);
    background-color: var(--main-lightpink);
}

.contact-link {
    padding-left: 5px;
}

.contact-details:hover {
    box-shadow: 0px 2px 5px var(--main-darkblue);
    transition: box-shadow 0.2s ease-in-out;
}
/* FOOTER */
.footer-content {
    height: 10vh;
    background-color: var(--main-lightpink);
    text-align: center;
   
}

.footer-para {
    color: var(--main-darkblue);
}


/* SOCIAL ICON BAR */

.social-icon-bar {
    position: fixed;
    bottom: 10%;
    left: 5%;
    transform: translateY(-50%);
    z-index: 10;
}

.social-icon {
    color: var(--main-darkblue);
    padding-top: 25px;
    font-size: 20px;
    
}

.social-icon-bar::after {
    content: "";
    position: absolute;
    left: 40%;
    top: 120%;
    height: 100%;
    width: 1px;
    background-color: var(--main-darkblue); 
}

