#about {
  border-top: 2px solid $white;
  .about-container {
    @include flexbox($flex-direction: column);
    @include tablet {
      @include flexbox($flex-direction: row);
    }
    .about-info {
      @include tablet {
        @include flexbox($flex-direction: column);
        width: 60%;
      }
      @include desktop {
        width: 50%;
      }
      p {
        color: $dark-blue;
        padding-bottom: 1rem;
      }
      .skills-list {
        display: grid;
        grid-template-rows: repeat(4, 1fr);
        grid-auto-flow: column;
        column-gap: 2rem;
        row-gap: 0.3rem;
        max-width: fit-content;
        color: $dark-blue;
        li:before {
          content: '\f105';
          font-family: 'FontAwesome';
          color: $red;
          padding-right: 0.6rem;
        }
        li > abbr {
          margin-left: -3px;
        }
      }
    }
    .about-img {
      position: relative;
      margin: 2.5rem auto 0 auto;
      z-index: 1;
      height: 250px;

      &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 90%;
        height: 89%;
        transform: translate(11%, 9%);
        border-radius: 5px;
        background-color: $light-pink;
        border: 1px solid $red;
        z-index: -1;
        box-shadow: 0 0 0.625rem $boxshadow-color;
      }
      @include tablet {
        margin: 2.5rem 0 0 3rem;
      }
      @include desktop {
        margin: 2.5rem auto 0 auto;
      }
      img {
        width: 220px;
        height: auto;
        border-radius: 5px;
        transform: scale(0.9);
      }
    }
  }
}
