#contact {
  border-top: 2px solid $white;
  .contact-container {
    @include flexbox(
      $flex-direction: column,
      $align-items: center,
      $justify-content: center
    );
    padding: 3.75rem 0;
    @include desktop {
      padding: 5rem 0;
    }
    @include large-desktop {
      max-width: 1300px;
      margin: 0 auto;
    }
    p {
      color: $dark-blue;
      text-align: center;
      width: 90%;
      @include tablet {
        width: 70%;
      }
      @include desktop {
        width: 50%;
      }
    }
    a {
      @include flexbox($justify-content: center, $align-items: center);
      background-color: rgba($light-pink, 0.2);
      color: $red;
      border: 2px solid $red;
      border-radius: 5px;
      padding: 0.6rem 1.25rem;
      margin-top: 2.5rem;
      @include desktop {
        &:hover {
          background-color: $red-hover;
        }
      }
      i {
        font-size: 1.1rem;
        padding-left: 0.4rem;
      }
    }
  }
}
