#home {
  .home-container {
    @include flexbox(
      $flex-direction: column,
      $justify-content: center,
      $align-items: center
    );
    padding: 0;
    height: 100vh;
    position: relative;
    .home-content {
      h1 {
        color: $dark-blue;
        font-size: 2.5rem;
        letter-spacing: 0.1rem;
        font-weight: 900;
        @include tablet {
          font-size: 3rem;
        }
      }
      p {
        color: $red;
        text-align: center;
        margin-top: 0.7rem;
        font-size: 1.1rem;
        @include tablet {
          font-size: 1.3rem;
        }
      }
    }
  }
  .arrow-down {
    position: absolute;
    bottom: 10%;
    animation: 3s bounce infinite;
    i {
      color: $red;
      font-size: 2rem;
    }
  }
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}
