header {
  width: 100%;
  position: fixed;
  top: 0;
  transition: top 0.2s ease-in-out;
  z-index: 5;
  nav {
    .nav-list {
      @include flexbox(
        $justify-content: space-between,
        $align-items: center,
        $flex-wrap: wrap
      );
      width: 100%;
      background-color: $white;
      padding-bottom: 1rem;
      @include desktop {
        padding: 0.8rem 3rem 0.8rem 0;
      }
      .logo,
      .navbar-toggle {
        padding: 1.25rem 1.25rem 0 1.25rem;
        @include tablet {
          padding-left: 0.7rem;
        }
      }
      .logo {
        @include desktop {
          padding: 0;
          margin-right: auto;
          margin-left: 1.25rem;
        }
        span {
          font-family: $Lobster;
          font-size: 2rem;
          color: $red;
        }
      }
      .nav-item {
        width: 100%;
        padding: 0.9rem 0.3rem;
        text-align: center;
        display: none;
        order: 2;
        @include desktop {
          display: block;
          width: auto;
          margin-right: 1.25rem;
          padding: 0;
        }
        &:nth-child(-n + 4) a {
          position: relative;
          &:after {
            content: '';
            position: absolute;
            width: 100%;
            bottom: 0;
            left: 0;
            border: 1px solid $red;
            visibility: hidden;
            transform: scaleX(0);
            transition: all 0.5s ease-in-out 0s;
          }
          &:hover:after {
            visibility: visible;
            transform: scaleX(1);
          }
        }
        .nav-link {
          color: $dark-blue;
          padding-bottom: 0.3rem;
        }
        .resume-btn {
          color: $red;
          border: 2px solid $red;
          border-radius: 5px;
          padding: 0.2em 0.6em 0.3em 0.6em;
          &:hover {
            background-color: $red-hover;
          }
        }
      }
      .active {
        display: block;
      }
      .navbar-toggle {
        cursor: pointer;
        order: 1;
        @include desktop {
          display: none;
        }
        .navbar-toggle-bars {
          background-color: $red;
          display: block;
          height: 2px;
          margin-bottom: 0.4rem;
          transition: all 0.2s ease-in-out;
          @include tablet {
            height: 3px;
          }
        }
        .top-bar,
        .bottom-bar {
          width: 25px;
        }
        .middle-bar {
          width: 35px;
        }
      }
      .toggle {
        .top-bar {
          transform: rotate(-45deg) translate(-8px, 6px);
          @include tablet {
            width: 30px;
          }
        }
        .middle-bar {
          opacity: 0;
        }
        .bottom-bar {
          transform: rotate(45deg) translate(-6px, -4px);
          @include tablet {
            width: 30px;
            transform: rotate(45deg) translate(-6.5px, -6px);
          }
        }
      }
    }
  }
}

.nav-up {
  top: -60px;
}
