/* VARIABLES */
// Google Fonts
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');

// Fonts
$font-stack: 'Source Sans Pro', system, -apple-system, BlinkMacSystemFont,
  Helvetica, sans-serif, Arial;
$Lato: 'Lato', sans-serif;
$Lobster: 'Lobster', cursive;

// Colors
$white: #ffffff;
$dark-blue: #123c69;
$red: #ee4d64;
$red-hover: rgba($red, 0.1);
$light-pink: #f9edf5;
$boxshadow-color: rgba(0, 0, 0, 0.3);

// Media Queries
$tablet-width: 768px;
$desktop-width: 992px;
$large-desktop-width: 1400px;

/* MIXINS */
// Flexbox
@mixin flexbox(
  $flex-direction: false,
  $flex-wrap: false,
  $justify-content: false,
  $align-items: false,
  $flex: false
) {
  display: flex;
  @if $flex-direction != false {
    flex-direction: $flex-direction;
  }
  @if $flex-wrap != false {
    flex-wrap: $flex-wrap;
  }
  @if $justify-content != false {
    justify-content: $justify-content;
  }
  @if $align-items != false {
    align-items: $align-items;
  }
  @if $flex != false {
    flex: $flex;
  }
}

// Media Queries
@mixin tablet {
  @media only screen and (min-width: #{$tablet-width}) {
    @content;
  }
}
@mixin desktop {
  @media only screen and (min-width: #{$desktop-width}) {
    @content;
  }
}
@mixin large-desktop {
  @media only screen and (min-width: #{$large-desktop-width}) {
    @content;
  }
}

/* BASE */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}
html,
body {
  height: 100%;
  width: 100%;
}
body {
  font-family: $Lato;
  background-color: $white;
}
p {
  line-height: 1.5rem;
}
h2 {
  color: $red;
  font-size: 1.6rem;
  margin-bottom: 1.9rem;
  padding-bottom: 0.2rem;
  width: max-content;
}
section {
  background-color: $light-pink;
  margin: 0 1rem;
  @include tablet {
    margin: 0 3rem;
  }
  @include desktop {
    margin: 0 4rem;
  }
}
.container {
  background-color: $light-pink;
  //padding: 3.75rem 1.875rem;
  padding: 3.75rem 1.5rem;
  @include tablet {
    padding: 3.75rem 2rem 3.75rem 2rem;
  }
  @include desktop {
    padding: 5rem 0 5rem 3rem;
  }
  @include large-desktop {
    max-width: 1300px;
    margin: 0 auto;
  }
}
